body {
    margin: 0;
    padding: 0;
}
#holder {
    width: 980px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 21px;
    margin-bottom: 21px;
    
}
#header {
    height: 76px;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    margin-bottom: 12px;
}
#nav {
    height: 60px;
    background-color: #132865;
    
}
#content {
    height: auto;
    clear: both;
    overflow: auto;
}
#pgHeading {
    height: 130px;
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
}
#res_form {
    border-radius: 1px;
    background-color: #f2f2f2;
    padding: 40px;
    margin-left: 20%;
    width: 50%;
    text-align: left;
    
}
table {
    border-collapse: collapse;
    width: 100%;
}
label {
    margin-left: 20%;
}
input[type=submit] {
    width: 30%;
    background-color: #132865;
    float: right;
    color: white;
    padding: 14px 20px;
    margin-right: 35%;
    margin-top: 8%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #ff8500;
}
input[type=text], input[type=password], select {
    width: 60%;
    padding: 11px 30px;
    margin: 10px;
    margin-left: 20%;
    display: table;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=text]:focus, input[type=password]:focus {
    background-color: lightgoldenrodyellow;
    font-size: 16px;
}
#footer {
    height: 100px;
}

h1 {
    margin: 50px;
    font-family: 'Libre Baskerville', serif;
    color: black;
    font-weight: bold;
}
h2 {
    margin: 0;
    font-family: 'Libre Baskerville', serif;
    font-weight: lighter;
    color: black;
}
