body {
    margin: 0;
    padding: 0;
}
#holder {
    width: 980px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 21px;
    margin-bottom: 21px;
    
}
table, th, td {
    background-color: #f2f2f2;
    border: 2px solid black;
    text-align: center;
    padding: 15px;
    
}
#header {
    height: 76px;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    margin-bottom: 12px;
}
#nav {
    height: 60px;
    background-color: #132865;
    
}
#pgHeading {
    height: 50px;
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
}
#main {
    padding: 90px;
    margin-left: 30%;
    width: 50%; 
}
label {
    float: left;
}
button {
    width: 100%;
    background-color: #132865;
    float: right;
    color: white;
    padding: 8px 20px;
    margin-top: 50px;
    border: none;
    border-radius: 4px;
    left: 30px;
    cursor: pointer;
    position: relative;
}

button:hover {
    background-color: #ff8500;
}
.right {
    float: right;
}
.left {
    float: left;
}


label {
    float: left;
    font: 16px;
    position: absolute;
}
input {
    position: relative;
    float: left;
    margin-left: 10%;
    width: 40%;
    margin-right: 8%;
    border-radius: 4px;
    box-sizing: border-box;
}
#num{
    float: right;
    margin-right: 40%;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;
    position: relative;
}

input[type=text]:focus {
    background-color: lightgoldenrodyellow;
    font-size: 16px;
}

#passenger {
    padding: 9px;
    font-size: 15px;
}

h1 {
    margin: 50px;
    font-family: 'Libre Baskerville', serif;
    color: black;
    font-weight: bold;
}
h2{
    margin: 0;
    font-family: 'Libre Baskerville', serif;
    font-weight: lighter;
    font-size: 18px;
    color: black;
}
